.idea/

cs/**/bin/
cs/**/.settings/
cs/**/.classpath
cs/**/.project
cs/**/.cproject
cs/**/**/a.exe
cs/**/src/**/a.exe

ml/**/data/
ml/**/.idea/
ml/**/**/*.txt

nlp/**/data/
nlp/**/model/
nlp/**/.idea/
nlp/MnZhAlignGUI/dist/
nlp/MnZhAlignGUI/build/
nlp/MnZhAlignGUI/_*/
nlp/Recommender/eng-reading-dataset/
