.idea/

cs/**/bin/
cs/**/.settings/
cs/**/.classpath
cs/**/.project
cs/**/.cproject
cs/**/**/a.exe
cs/**/src/**/a.exe

ml/**/data/
ml/**/.idea/
ml/**/**/*.txt

nlp/**/data/
nlp/**/dist/
nlp/**/model/
nlp/**/build/
nlp/**/.idea/
